html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.fighters {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    flex-wrap: wrap;
    padding: 0 15px;
}

.fighter {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 200px;
}

.fighter:hover {
    box-shadow: 0 0 50px 10px rgba(0,0,0,0.06);
    cursor: pointer;
}

.name {
    align-self: center;
    font-size: 21px;
    margin-top: 20px;
}

.fighter-image {
    height: 260px;
}

#loading-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    background: rgba(255, 255, 255, 0.7);
    visibility: hidden;
}

.message {
    color: green;
}
#defense::placeholder,
#health::placeholder,
#attack::placeholder {
    color: red;
}

.accept {
    display: none;
}

.check-fighter {
    margin: 0 auto;
    width: 20px;
    height: 20px;
}

.start-game {
    font-size: 20px;
    color: red;
    padding: 5px;
    margin-top: 500px;
    margin: 500px  auto 0 auto;
    display: block;
}

.instruction {
    font-size: 20px;
    color: royalblue;
}

.warning {
   color: red;
   font-size: 30px;
}

.fight {
    display: none;
}

.positionFirstFighter {
    position: relative;
    left: 50px;
}

.positionSecondFighter {
    position: relative;
    right: 50px;
}

.loser {
    display: none;
    
}
.winner {
    margin: 0 auto;
    color: green;
    font-size: 25px;
    text-align: center;
    padding-top: 20px;
}
.warn {
    color: red;
    text-align: center;
}